/*    --------------------------------------------------
        :: Login page
        -------------------------------------------------- */

/*     Login Section        */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

/*  Inputs & Buttons        */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*  Footer              */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}


/*    --------------------------------------------------
        :: Preview page
        -------------------------------------------------- */

/* move special fonts to HTML head for better performance 
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');*/


/* custom template */
html, body {
    height: 100%;
    font-family:'Open Sans',arial,sans-serif;
}

a {
    color:#222222;
}

.wrapper, .row {
    margin-left:0;
    margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url("../images/sidebar.jpg");
    background-size:cover;
    background-attachment:fixed;
}

.divider {
    margin-top:32px;
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
    margin-top:18px;
    height:70px;
    width:70px;
}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
    text-shadow:1px 0 1px #888888;
}
#sidebar a.logo {
    display:inline-block;
    padding:3px;
    background-color:#fff;
    color:#777777;
    height:40px;
    width:40px;
    margin:15px;
    font-size:26px;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    text-shadow:0 0 0;
}
#sidebar-footer {
    position:absolute;bottom:5px;
}
#footer {
    margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
    #sidebar,#sidebar a.logo {
        text-align:center;
        margin:0 auto;
        margin-top:30px;
        font-size:26px;
    }
    #sidebar a.logo {
        font-size:50px;
        height:75px;
        width:75px;
        margin-bottom:30px;
    }
}




/* bootstrap overrides */

h1,h2,h3 {
    font-weight:800;
    font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
    background-color:transparent;
}
.label-default {
    background-color:#dddddd;
}
.page-header {
    margin-top: 55px;
    padding-top: 9px;
    border-top:1px solid #eeeeee;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
    font-family:courier,courier-new,monospace;
}


/*    --------------------------------------------------
        :: Registration page
        -------------------------------------------------- */
#wrap{
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
legend{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}
.signup-btn {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #578843);
    background-image: -moz-linear-gradient(top, #79bc64, #578843);
    background-image: -ms-linear-gradient(top, #79bc64, #578843);
    background-image: -o-linear-gradient(top, #79bc64, #578843);
    background-image: linear-gradient(to bottom, #79bc64, #578843);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
}

.signup-btn:hover {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
    background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
    background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
    background-image: -o-linear-gradient(top, #79bc64, #5e7056);
    background-image: linear-gradient(to bottom, #79bc64, #5e7056);
    text-decoration: none;
}
.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}